LEGO.DM/LEGO.DM/Service References/LEGO_BATCH/ScheduledTaskRunnerBeanService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.model.irs.lego.icon.com/" targetNamespace="http://services.model.irs.lego.icon.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="runDM" type="tns:runDM" />
  <xs:element name="runDMResponse" type="tns:runDMResponse" />
  <xs:complexType name="runDM">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="runDMResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>